@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import "reset.css";
@import "variables.css";

/*Components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";

/*Screens*/
@import "screens/login.css";
@import "screens/friends.css";

body {
    font-family: 'Nanum Pen Script', cursive;
    height: 1000vh;
    color: #2e363e; /*모든 글자색, 아이콘 색이 이 색상을 Default로*/
   
}

