#friends-display-link {
    display: block; /*anchor는 inline이므로 높이와 너비가 없다. 중앙으로 움직이려면 block으로 변경해야함*/
    text-align: center; /*text를 중앙에 배치하기*/
    background-color: #fafafa; /*배경색*/
    padding: 15px 0px; /*위아래 공간 주기*/
    font-size: 18px; /*text 사이즈*/
    position: fixed; /*스크롤을 굴려도 friends-display-link가 화면에 고정되도록 해준다.*/
    width: 100%; /*fixed를 주면 배치가 깨지게 되는데 화면 비율에 꽉 차도록 width:100%을 준다. */
    top: 80px; /*status-bar(상태바)와 screen-header와 겹치지 않도록 body의 맨 위(top)에서부터 80px만큼 떨어트린다.*/
}

#friends-display-link i {
    color: rgba(0, 0, 0, 0.4); /*아이콘 circle-info, chevron-right */
}

.friends-screen {
    padding: 0px var(--horizontal-space);
    padding-top: 150px;
}

.friends-screen__channel {
    margin-top: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 15px;
}

.friends-screen__channel-header {
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
}
