#friends-display-link {
    text-align: center; /*text를 중앙에 배치하기*/
    display: block; /*anchor는 inline이므로 높이와 너비가 없다. 중앙으로 움직이려면 block으로 변경해야함*/
    background-color: #fafafa; /*배경색*/
    padding: 15px 0px; /*상자 안에서 위아래 공간 주기 */
    font-size: 23px; /*text 사이즈*/
    margin-bottom: 15px;
    margin-top: -15px;
}

#friends-display-link i {
    color: rgba(0, 0, 0, 0.4); /*아이콘 circle-info, chevron-right */
}

.friends-screen {
    padding-top: 10px;
}

.friends-screen__channel { 
    margin-top: 25px;
    border-top: var(--main-border);
    padding-top: 15px;
}

.friends-screen__channel-header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between; /*글자 '채널'과 chevron 아이콘이 양 옆으로 떨어지도록*/
    color: rgba(0, 0, 0, 0.5);
    font-size: 21px;
}

@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen {
    background-color: var(--yellow);
    position: absolute; /*화면 높이의 100%*/
    height: 100vh;
    width: 100vw; /*화면 넓이의 100%*/
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 110px;
    animation: hideSplashScreen 0.3s ease-in-out forwards;
    animation-delay: 1s;
}
