.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #F9F9FA;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(121,121,121,0.3);
}
.nav__list {
    display: flex;
    justify-content: space-between;
}
.nav__link {
    color: #2e363e;
    position: relative; /*.nav__link(아이콘)을 기준으로 .nav__notification가 이동*/
}
.nav__notification {
	background-color: tomato; /*색*/
    height: 30px; /*높이-정사각형*/
    width: 30px; /*너비-정사각형*/
    border-radius: 15px; /*정사각형 높이의 절반을 설정하면 동그라미가 된다.*/
    display: flex; /*<span>은 text이기 때문에 Box로 변환*/
    justify-content: center; /*1을 동그라미 가운데에 위치*/
    align-items: center; /*1을 동그라미 가운데에 위치*/
    color: white; /*글자색: 하얗게*/
    font-weight: 600; /*글자 굵기*/
    font-size: 20px; /*글자 크기*/
    position: absolute; /*아이콘 위로 글자가 올라오도록*/
    left: 20px; /*아이콘으로부터 왼쪽으로 20px만큼 이동*/
    bottom: 15px; /*아이콘으로부터 밑에서부터 15px만큼 이동*/
    }

.nav__dot {
    background-color: tomato;
    height: 6px;
    width: 6px;
    border-radius: 3px;
    display: flex;
    position: absolute;
    left: 30px;
    bottom: 30px;
}