.user-component,
.user-component__column:first-child {
    display: flex;
    align-items: center;
}

.user-component__avatar {
    width: 95px;
    height: 95px;
    border-radius: 45px;
    margin-right: 30px;
}

.user-component__title {
    font-size: 25px;
    font-weight: 600;
}
.user-component__subtitle {
    color: rgba(0, 0, 0, 0.5);
    margin-top: 8px;
    font-size: 17px;
}

.user-component__avatar--xl{
    width: 115px;
    height: 115px;
}